<svg>
  <a xlink:href="<%= @url %>/pulls">
    <rect x="0" y="0" width="<%= '%.2f' % (100.0 * @red / @total) %>" height="20" style="fill:red;stroke:black">
      <title><%= '%.2f' % (100.0 * @red / @total) %>% of Pull Requests have no comments</title>
    </rect>
    <rect x="<%= '%.2f' % (100.0 * @red / @total) %>" y="0" width="<%= '%.2f' % (100.0 * @yellow / @total) %>" height="20" style="fill:yellow;stroke:black">
      <title><%= '%.2f' % (100.0 * @yellow / @total) %>% of Pull Requests have one comment</title>
    </rect>
    <rect x="<%= '%.2f' % (100.0 * (@red + @yellow) / @total) %>" y="0" width="<%= '%.2f' % (100.0 * @green / @total) %>" height="20" style="fill:green;stroke:black">
      <title><%= '%.2f' % (100.0 * @green / @total) %>% of Pull Requests have two or more comments</title>
    </rect>
  </a>
</svg>